.movieCard {
    max-width: 600px;
    margin-top: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f5f5f5;
}

.cardContent {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.movieImage {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.movieInfo {
    flex: 1;
}

.title {
    color: #333;
    font-weight: bold;
}

.movieDetails,
.movieData,
.movieActors {
    margin-bottom: 10px;
    color: #555;
}

.movieDetails {
    font-size: 14px;
}

.movieData,
.movieActors {
    font-size: 14px;
}

.alert {
    margin-top: 10px;
}

.itemButton {
    background-color: #29bb89;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    text-transform: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #673ab7;
    transition: color 0.3s ease;
}

.link:hover {
    color: #512da8;
}
