.movieCard {
    max-width: 300px;
    margin-top: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.movieImage{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;

}

.movieDetails{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movieData{
    margin-bottom: 20px;

}

.movieActors{
    margin-bottom: 20px;
}

.itemButton{
    background-color: #29bb89;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    
}

.buttonContainer{
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.link {
    text-decoration: none; 
    color: #673AB7;
  }
  