{% extends 'MovieApp/base.html' %}
{% block content %}

<head>
    <title>{{movie.title}}</title>
</head>
<br>
<div class="card mb-3 mx-auto border-dark" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    {% if movie.movie_images %}
        <img src="{{ movie.movie_images.url }}" class="card-img-top" height="300">
    {% endif %}
    </div>
      <div class="col-md-8">
        <div class="card-body">
  
        <ul class="list-group list-group-flush">
        <li class="list-group-item "><strong>Director: </strong><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'director-detail' movie.director %}">{{movie.director}}</a></li>
        {% if movie.actor %}
        <li class="list-group-item"><strong>Actor(s): </strong><a  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'actor-detail' movie.actor %}">{{movie.actor}}</a></li>
        {% endif %}
        {% if movie.actress %}
        <li class="list-group-item"><strong>Actress(s): </strong><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  href="{% url 'actress-detail' movie.actress %}">{{movie.actress}}</a></li>
        {% endif %}
        <li class="list-group-item"><strong>Recently Watched:</strong> {{ movie.date_watched }}</li>
        <li class="list-group-item"><strong>Released: </strong><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'released' movie.released %}">{{movie.released}}</a></li>
        <li class="list-group-item"><strong>Times Watched:</strong> {{ movie_count }}</li>
        <li class="list-group-item"><strong>Last Watched :</strong> {{ movie.Days_since }} ago</li>
        {% if movie.language %}
          <li class="list-group-item"><strong>Language :</strong> <a href="{% url 'languages' movie.language  %}">{{ movie.language }}</a></li>
        {% endif %}
      </ul>
       </div>
     </div>
    </div>

    <div class="card-footer bg-transparent border-success" style="max-width: 540px;">
      <a href="https://en.wikipedia.org/wiki/{{movie.title}}" target="_blank" class="btn btn-outline-primary btn-sm card-link">Wiki Page</a>
      <a href="{% url 'movie-list' %}" class="btn btn-outline-primary btn-sm card-link">Back To Movies List</a>
      <a href="{% url 'update-movie' movie.pk %}" class="btn btn-outline-primary btn-sm card-link">Update</a>
      <a href="{% url 'delete-movie' movie.pk %}" class="btn btn-danger btn-sm card-link">Delete</a>
    </div>

  </div>
 
{% endblock %}